.pic { display: block; position: relative; margin-bottom: 3px; width: 200px; height: 200px; }
.inner {overflow:hidden;text-overflow:ellipsis;word-break:keep-all;white-space:nowrap; border: solid 3px #fff; padding: 16px 16px 0; position: absolute; }
.liStyle {float: left; width: 240px; height: 319px; line-height: 18px; position: relative; border-bottom: solid 1px #e5e5e5; }
.liStyle .divProduct, .inner, .divStyle {margin-bottom:1px;margin-left: 10px;}

.divProduct, .inner, .uiStyle, .liStyle, .pStyle,.imgStyle, .divStyle { margin: 0; padding: 0; list-style-type: none; font-size: 12px;}
.price {padding-bottom: 3px; color: #878787; }
.price_n {color: #c30; font-weight: bold; padding-right: 10px; font-family: Arial; font-size: 18px; }
.price_s {color: #c30; font-family: Arial;  font-size: 20px;}
.price_r {color: #878787; text-decoration: line-through; padding-right: 10px; font-family: Arial; font-size: 15px; }
#Productname {text-decoration:underline; color:#555555; display: block; overflow: hidden; width: 200px; font-family: Arial; }
#Productname:hover {color:#FF6600; }
.inner {width: 233px; }
.inner a {color: #018BD3;}
.inner a:hover {color:#FF6600; }
.inner a:VISITED {color:#018BD3;}
.divProduct{float:left;}