body{
	margin:0;
}

.list {
	position: fixed;
	width: 190px;
	float: left;
	background-color: #AACEF2;
}

.commodityArea {
	position: relative;
	width: auto;
	margin-left: 190px;
	top: 70px;
}
.searchArea {
	position: fixed;
	height: 65px;
	width: 600px;
	margin-left: 100px;
    top: 65px;
    z-index: 10;
}
.newProduct {
	font-weight: bold;
    color: #FFFFFF;
    background-color: #68A9EA;
    position: fixed;
    height: 44px;
    width: 100px;
    margin-left: 590px;
    top: 85px;
    line-height: 44px;
	cursor:pointer;
}


.searchSelect {
	position: absolute;
	height: 38px;
	width: 56px;
	top:0px;
	line-height: 38px;
	text-align: center;
	overflow: hidden;
	background-color: #68A9EA;
	font-weight: bold;
	color: #FFFFFF;
}

.searchBox {
	position: absolute;
	background-color: white;
	border: 3px solid #68A9EA;
	width: 540px;
	height: 38px;
	left: 0px;
	top: 20px;
}
.searchInput {
	position: absolute;
	height: 32px;
	width: 440px;
	top: 3px;
	font-size: 16px;
	background:transparent;
	border:0;
	right: 40px;
}
.searchInput:focus {
	outline:none;
}

.searchButton {
	position: absolute;
    height: 30px;
    width: 30px;
    font-size: 18px;
    padding: 4px;
    right: 0;
	cursor:pointer;
}
.searchButton:hover {
	background-color:#E9E9E9;
}

li {
	list-style-type:none;
}
ul{
	margin:0px;
	padding:0px;
}

.listLayer1 {
	position: relative;
	height: 30px;
	width: auto;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #AACEF2;
	cursor:pointer;
	line-height: 30px;
}
.listCategory {
	height: 35px;
	line-height: 35px;
	text-align: center;
	width: auto;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #68A9EA;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #68A9EA;
	border-left-color: #68A9EA;
	top: 80px;
    width: 188px;
    z-index: 10;
}
.listContent {
	position: relative;
	overflow: auto;
}


.listLayer2 {
	position: relative;
	height: 30px;
	width: auto;
	background-color: #FFFFFF;
	color: #000000;
	border: 1px solid #C8DFF7;
	cursor:pointer;
	line-height: 30px;
}
