<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
  	<servlet-name>ProductServlet</servlet-name>
  	<servlet-class>cn.edu.zhk.jsj141.feng.ctrl.product.ProductServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CommentServlet</servlet-name>
  	<servlet-class>cn.edu.zhk.jsj141.feng.ctrl.comment.CommentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderServlet</servlet-name>
  	<servlet-class>cn.edu.zhk.jsj141.feng.ctrl.order.OrderServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CartItemServlet</servlet-name>
  	<servlet-class>cn.edu.zhk.jsj141.feng.ctrl.shoppingCart.CartItemServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CategoryList</servlet-name>
  	<servlet-class>cn.edu.zhk.jsj141.feng.ctrl.CategoryList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <servlet-class>cn.edu.zhk.jsj141.feng.vcode.VerifyCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>cn.edu.zhk.jsj141.feng.ctrl.user.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAllCategoryCtrl</servlet-name>
    <servlet-class>cn.edu.zhk.jsj144.liao.ctrl.category.product.FindAllCategoryCtrl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddParentCategoryCtrl</servlet-name>
    <servlet-class>cn.edu.zhk.jsj144.liao.ctrl.category.product.AddParentCategoryCtrl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddChildCategoryCtrl</servlet-name>
    <servlet-class>cn.edu.zhk.jsj144.liao.ctrl.category.product.AddChildCategoryCtrl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditParentCategoryCtrl</servlet-name>
    <servlet-class>cn.edu.zhk.jsj144.liao.ctrl.category.product.EditParentCategoryCtrl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditChildCategoryCtrl</servlet-name>
    <servlet-class>cn.edu.zhk.jsj144.liao.ctrl.category.product.EditChildCategoryCtrl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelParentCategoryCtrl</servlet-name>
    <servlet-class>cn.edu.zhk.jsj144.liao.ctrl.category.product.DelParentCategoryCtrl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelChildCategoryCtrl</servlet-name>
    <servlet-class>cn.edu.zhk.jsj144.liao.ctrl.category.product.DelChildCategoryCtrl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetCategoryListCtrl</servlet-name>
    <servlet-class>cn.edu.zhk.jsj144.liao.ctrl.category.product.GetCategoryListCtrl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetShopInfoCtrl</servlet-name>
    <servlet-class>cn.edu.zhk.jsj144.liao.ctrl.shop.GetShopInfoCtrl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateShopInfoCtrl</servlet-name>
    <servlet-class>cn.edu.zhk.jsj144.liao.ctrl.shop.UpdateShopInfoCtrl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetProductListCtrl</servlet-name>
    <servlet-class>cn.edu.zhk.jsj144.liao.ctrl.product.GetProductListCtrl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetProductByIDCtrl</servlet-name>
    <servlet-class>cn.edu.zhk.jsj144.liao.ctrl.product.GetProductByIDCtrl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetShopNameCtrl</servlet-name>
    <servlet-class>cn.edu.zhk.jsj144.liao.ctrl.shop.GetShopNameCtrl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindChildCategoryCtrl</servlet-name>
    <servlet-class>cn.edu.zhk.jsj144.liao.ctrl.category.product.FindChildCategoryCtrl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddProductCtrl</servlet-name>
    <servlet-class>cn.edu.zhk.jsj144.liao.ctrl.product.AddProductCtrl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindParentCategoryCtrl</servlet-name>
    <servlet-class>cn.edu.zhk.jsj144.liao.ctrl.category.product.FindParentCategoryCtrl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateProductCtrl</servlet-name>
    <servlet-class>cn.edu.zhk.jsj144.liao.ctrl.product.UpdateProductCtrl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelProductCtrl</servlet-name>
    <servlet-class>cn.edu.zhk.jsj144.liao.ctrl.product.DelProductCtrl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchProductCtrl</servlet-name>
    <servlet-class>cn.edu.zhk.jsj144.liao.ctrl.product.SearchProductCtrl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderManagementCtrl</servlet-name>
    <servlet-class>cn.edu.zhk.jsj144.liao.ctrl.order.OrderManagementCtrl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerManagementCtrl</servlet-name>
    <servlet-class>cn.edu.zhk.jsj144.liao.ctrl.ma_customer.CustomerManagementCtrl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShopManagementCtrl</servlet-name>
    <servlet-class>cn.edu.zhk.jsj144.liao.ctrl.ma_shop.ShopManagementCtrl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminLoginCtrl</servlet-name>
    <servlet-class>cn.edu.zhk.jsj144.liao.ctrl.admin.AdminLoginCtrl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangePasswordCtrl</servlet-name>
    <servlet-class>cn.edu.zhk.jsj144.liao.ctrl.admin.ChangePasswordCtrl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminLogoutCtrl</servlet-name>
    <servlet-class>cn.edu.zhk.jsj144.liao.ctrl.admin.AdminLogoutCtrl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SetUpShopCtrl</servlet-name>
    <servlet-class>cn.edu.zhk.jsj144.liao.ctrl.shop.SetUpShopCtrl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckShopApplicationStatusCtrl</servlet-name>
    <servlet-class>cn.edu.zhk.jsj144.liao.ctrl.shop.CheckShopApplicationStatusCtrl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelShopVerifyInfo</servlet-name>
    <servlet-class>cn.edu.zhk.jsj144.liao.ctrl.shop.DelShopVerifyInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IssueFeedbackCtrl</servlet-name>
    <servlet-class>cn.edu.zhk.jsj144.liao.ctrl.ma_customer.IssueFeedbackCtrl</servlet-class>
  </servlet>








  <servlet-mapping>
  <servlet-name>ProductServlet</servlet-name>
  	<url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CommentServlet</servlet-name>
  	<url-pattern>/CommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderServlet</servlet-name>
  	<url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CartItemServlet</servlet-name>
  	<url-pattern>/CartItemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryList</servlet-name>
    <url-pattern>/CategoryList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllCategoryCtrl</servlet-name>
    <url-pattern>/admin/category_product/FindAllCategoryCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddParentCategoryCtrl</servlet-name>
    <url-pattern>/admin/category_product/AddParentCategoryCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddChildCategoryCtrl</servlet-name>
    <url-pattern>/admin/category_product/AddChildCategoryCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditParentCategoryCtrl</servlet-name>
    <url-pattern>/admin/category_product/EditParentCategoryCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditChildCategoryCtrl</servlet-name>
    <url-pattern>/admin/category_product/EditChildCategoryCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelParentCategoryCtrl</servlet-name>
    <url-pattern>/admin/category_product/DelParentCategoryCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelChildCategoryCtrl</servlet-name>
    <url-pattern>/admin/category_product/DelChildCategoryCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCategoryListCtrl</servlet-name>
    <url-pattern>/category_product/GetCategoryListCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetShopInfoCtrl</servlet-name>
    <url-pattern>/shopInfo/GetShopInfoCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateShopInfoCtrl</servlet-name>
    <url-pattern>/shopInfo/UpdateShopInfoCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetProductListCtrl</servlet-name>
    <url-pattern>/product/GetProductListCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetProductByIDCtrl</servlet-name>
    <url-pattern>/product/GetProductByIDCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetShopNameCtrl</servlet-name>
    <url-pattern>/shopInfo/GetShopNameCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindChildCategoryCtrl</servlet-name>
    <url-pattern>/category_product/FindChildCategoryCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddProductCtrl</servlet-name>
    <url-pattern>/product/AddProductCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindParentCategoryCtrl</servlet-name>
    <url-pattern>/category_product/FindParentCategoryCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateProductCtrl</servlet-name>
    <url-pattern>/product/UpdateProductCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelProductCtrl</servlet-name>
    <url-pattern>/product/DelProductCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchProductCtrl</servlet-name>
    <url-pattern>/product/SearchProductCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderManagementCtrl</servlet-name>
    <url-pattern>/order/OrderManagementCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerManagementCtrl</servlet-name>
    <url-pattern>/admin/ma_customer/CustomerManagementCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShopManagementCtrl</servlet-name>
    <url-pattern>/admin/ma_shop/ShopManagementCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLoginCtrl</servlet-name>
    <url-pattern>/admin_login/AdminLoginCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangePasswordCtrl</servlet-name>
    <url-pattern>/admin/ChangePasswordCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLogoutCtrl</servlet-name>
    <url-pattern>/admin_logout/AdminLogoutCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetUpShopCtrl</servlet-name>
    <url-pattern>/shop/SetUpShopCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckShopApplicationStatusCtrl</servlet-name>
    <url-pattern>/shop/CheckShopApplicationStatusCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelShopVerifyInfo</servlet-name>
    <url-pattern>/shop/DelShopVerifyInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IssueFeedbackCtrl</servlet-name>
    <url-pattern>/IssueFeedbackCtrl</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
  	<filter-name>CharSetEncodingFilter</filter-name>
  	<filter-class>cn.edu.zhk.jsj144.liao.filter.CharSetEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>CharSetEncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>AdminLoginFilter</filter-name>
  	<filter-class>cn.edu.zhk.jsj144.liao.filter.AdminLoginFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>AdminLoginFilter</filter-name>
  	<url-pattern>/Back_Admin/*</url-pattern>
  </filter-mapping>
   <filter-mapping>
  	<filter-name>AdminLoginFilter</filter-name>
  	<url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>cn.edu.zhk.jsj141.feng.servlet.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/jsps/cart/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <servlet-name>CartItemServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/jsps/order/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <servlet-name>OrderServlet</servlet-name>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/Back_Shop/js/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/Back_Shop/ma_order/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/Back_Shop/ma_shopInfo/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/Back_Shop/main.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <servlet-name>IssueFeedbackCtrl</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <servlet-name>OrderManagementCtrl</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/shop/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/shopInfo/*</url-pattern>
  </filter-mapping>
</web-app>
